In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('fashion_New.csv')
df

,Order date,Chain,Suburb,State,Postcode,Manager,Category,Buyer,Sales,inventory
0,2021-12-27,0,25,1,2067,6,2,8,479.02,479.02
1,2021-10-03,0,25,1,2067,6,5,2,149.95,749.75
2,2022-01-14,0,25,1,2067,6,7,1,14.00,14.00
3,2019-05-15,0,25,1,2067,6,5,2,12.00,24.00
4,2020-10-17,0,25,1,2067,6,9,0,46.94,187.76
...,...,...,...,...,...,...,...,...,...,...
72420,2020-01-12,0,10,6,3353,7,6,4,2335.83,2335.83
72421,2021-12-30,0,10,6,3353,7,6,4,3430.66,17153.30
72422,2019-04-04,0,10,6,3353,7,2,8,4591.11,13773.33
72423,2022-06-02,0,10,6,3353,7,2,8,3674.59,11023.77
72424,2019-10-20,0,10,6,3353,7,5,2,3219.74,9659.22

In [125]:
# encoder = OrdinalEncoderEncoder()
# df[['Chain','Suburb','State','Manager','Category','Buyer']] = encoder.fit_transform(df[['Chain','Suburb','State','Manager','Category','Buyer']])
# encoder.classes_

array([0, 1])

In [126]:
df['Chain'].nunique()

2

In [127]:
encoder = LabelEncoder()
encoder.fit(df['Suburb'])
df['Suburb'] = encoder.transform(df['Suburb'])
encoder.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96])

In [128]:
df.columns

Index(['Order date', 'Chain', 'Suburb', 'State', 'Postcode', 'Manager',
       'Category', 'Buyer', 'Sales', 'inventory'],
      dtype='object')

In [129]:
encoder = LabelEncoder()
encoder.fit(df['State'])
df['State'] = encoder.transform(df['State'])
encoder.classes_

array([0, 1, 2, 3, 4, 5, 6, 7])

In [130]:
encoder = LabelEncoder()
encoder.fit(df['Manager'])
df['Manager'] = encoder.transform(df['Manager'])
encoder.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [41]:
encoder = LabelEncoder()
encoder.fit(df['Category'])
df['Category'] = encoder.transform(df['Category'])
encoder.classes_

array(['Accessories', 'Groceries', 'Home', 'Hosiery', 'Intimate',
       'Juniors', 'Kids', 'Mens', 'Shoes', 'Womens', nan], dtype=object)

In [42]:
encoder = LabelEncoder()
encoder.fit(df['Buyer'])
df['Buyer'] = encoder.transform(df['Buyer'])
encoder.classes_

array(['Amy Buchanan', 'Bruce Curran', 'Chester George', 'Chris Monroe',
       'Elizabeth Gentry', 'Ella Hickman', 'Howard Wright',
       'Maggie Mayer', 'Richard Carr', 'Sara Ferrell', nan], dtype=object)

In [43]:
df

,Production year,Chain,Suburb,State,Postcode,Manager,Category,Buyer,Sales,inventory
0,2021-12-27,0,25,1,2067,6,2,8,479.02,479.02
1,2021-10-03,0,25,1,2067,6,5,2,149.95,749.75
2,2022-01-14,0,25,1,2067,6,7,1,14,14
3,2019-05-15,0,25,1,2067,6,5,2,12,24
4,2020-10-17,0,25,1,2067,6,9,0,46.94,187.76
...,...,...,...,...,...,...,...,...,...,...
72420,2020-01-12,0,10,6,3353,7,6,4,2335.83,2335.83
72421,2021-12-30,0,10,6,3353,7,6,4,3430.66,17153.3
72422,2019-04-04,0,10,6,3353,7,2,8,4591.11,13773.33
72423,2022-06-02,0,10,6,3353,7,2,8,3674.59,11023.77
72424,2019-10-20,0,10,6,3353,7,5,2,3219.74,9659.22

In [44]:
df.rename({'Production year':'Order date'},axis=1,inplace=True)

In [45]:
df.columns

Index(['Order date', 'Chain', 'Suburb', 'State', 'Postcode', 'Manager',
       'Category', 'Buyer', 'Sales', 'inventory'],
      dtype='object')

In [46]:
df['Order date'] = pd.to_datetime(df['Order date'])

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72425 entries, 0 to 72424
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order date  72425 non-null  datetime64[ns]
 1   Chain       72425 non-null  int64
 2   Suburb      72425 non-null  int64
 3   State       72425 non-null  int64
 4   Postcode    72425 non-null  int64
 5   Manager     72425 non-null  int64
 6   Category    72425 non-null  int64
 7   Buyer       72425 non-null  int64
 8   Sales       72244 non-null  object
 9   inventory   72367 non-null  object
dtypes: datetime64[ns](1), int64(7), object(2)
memory usage: 5.5+ MB

In [48]:
df.isna().sum()

Order date      0
Chain           0
Suburb          0
State           0
Postcode        0
Manager         0
Category        0
Buyer           0
Sales         181
inventory      58
dtype: int64

In [49]:
df['inventory'].head(100)

0      479.02
1      749.75
2          14
3          24
4      187.76
       ...
95    1485.32
96     1253.4
97    1013.37
98      707.6
99    4177.23
Name: inventory, Length: 100, dtype: object

In [50]:
df['inventory'].astype(str)

0          479.02
1          749.75
2              14
3              24
4          187.76
           ...
72420     2335.83
72421     17153.3
72422    13773.33
72423    11023.77
72424     9659.22
Name: inventory, Length: 72425, dtype: object

In [51]:
df.convert_dtypes()

,Order date,Chain,Suburb,State,Postcode,Manager,Category,Buyer,Sales,inventory
0,2021-12-27,0,25,1,2067,6,2,8,479.02,479.02
1,2021-10-03,0,25,1,2067,6,5,2,149.95,749.75
2,2022-01-14,0,25,1,2067,6,7,1,14,14
3,2019-05-15,0,25,1,2067,6,5,2,12,24
4,2020-10-17,0,25,1,2067,6,9,0,46.94,187.76
...,...,...,...,...,...,...,...,...,...,...
72420,2020-01-12,0,10,6,3353,7,6,4,2335.83,2335.83
72421,2021-12-30,0,10,6,3353,7,6,4,3430.66,17153.3
72422,2019-04-04,0,10,6,3353,7,2,8,4591.11,13773.33
72423,2022-06-02,0,10,6,3353,7,2,8,3674.59,11023.77
72424,2019-10-20,0,10,6,3353,7,5,2,3219.74,9659.22

In [52]:
# df3=df['Sales'

NameError: name 'df3pd' is not defined

In [83]:
df3=pd.to_numeric(df['Sales'],errors='coerce')

In [57]:
df3.info()

<class 'pandas.core.series.Series'>
RangeIndex: 72425 entries, 0 to 72424
Series name: Sales
Non-Null Count  Dtype
--------------  -----
72243 non-null  float64
dtypes: float64(1)
memory usage: 565.9 KB

In [91]:
# df4=pd.to_numeric(df['inventory'],errors='coerce')
# df4

0          479.02
1          749.75
2           14.00
3           24.00
4          187.76
           ...
72420     2335.83
72421    17153.30
72422    13773.33
72423    11023.77
72424     9659.22
Name: inventory, Length: 72425, dtype: float64

In [84]:
frames = [df,df3]

In [96]:
result_data =pd.concat(frames, axis=1,names=['sales'])

In [97]:
result_data.info()
result_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72425 entries, 0 to 72424
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order date  72425 non-null  datetime64[ns]
 1   Chain       72425 non-null  int64
 2   Suburb      72425 non-null  int64
 3   State       72425 non-null  int64
 4   Postcode    72425 non-null  int64
 5   Manager     72425 non-null  int64
 6   Category    72425 non-null  int64
 7   Buyer       72425 non-null  int64
 8   Sales       72244 non-null  object
 9   inventory   72367 non-null  object
 10  Sales       72243 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 6.1+ MB

,Order date,Chain,Suburb,State,Postcode,Manager,Category,Buyer,Sales,inventory,Sales
0,2021-12-27,0,25,1,2067,6,2,8,479.02,479.02,479.02
1,2021-10-03,0,25,1,2067,6,5,2,149.95,749.75,149.95
2,2022-01-14,0,25,1,2067,6,7,1,14,14,14.00
3,2019-05-15,0,25,1,2067,6,5,2,12,24,12.00
4,2020-10-17,0,25,1,2067,6,9,0,46.94,187.76,46.94
...,...,...,...,...,...,...,...,...,...,...,...
72420,2020-01-12,0,10,6,3353,7,6,4,2335.83,2335.83,2335.83
72421,2021-12-30,0,10,6,3353,7,6,4,3430.66,17153.3,3430.66
72422,2019-04-04,0,10,6,3353,7,2,8,4591.11,13773.33,4591.11
72423,2022-06-02,0,10,6,3353,7,2,8,3674.59,11023.77,3674.59
72424,2019-10-20,0,10,6,3353,7,5,2,3219.74,9659.22,3219.74

In [104]:
# result_data.to_csv("final.csv")
# result_data
df = pd.read_csv('final.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72425 entries, 0 to 72424
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72425 non-null  int64
 1   Order date  72425 non-null  object
 2   Chain       72425 non-null  int64
 3   Suburb      72425 non-null  int64
 4   State       72425 non-null  int64
 5   Postcode    72425 non-null  int64
 6   Manager     72425 non-null  int64
 7   Category    72425 non-null  int64
 8   Buyer       72425 non-null  int64
 9   inventory   72367 non-null  object
 10  Sales       72243 non-null  float64
dtypes: float64(1), int64(8), object(2)
memory usage: 6.1+ MB

/tmp/ipykernel_19282/3091288676.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final.csv')

In [105]:
df4=pd.to_numeric(df['inventory'],errors='coerce')

In [106]:
df4

0          479.02
1          749.75
2           14.00
3           24.00
4          187.76
           ...
72420     2335.83
72421    17153.30
72422    13773.33
72423    11023.77
72424     9659.22
Name: inventory, Length: 72425, dtype: float64

In [107]:
frames2 = [df,df4]

In [108]:
Final_data=pd.concat(frames2, axis=1,names=['Inventry'])

In [109]:
Final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72425 entries, 0 to 72424
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72425 non-null  int64
 1   Order date  72425 non-null  object
 2   Chain       72425 non-null  int64
 3   Suburb      72425 non-null  int64
 4   State       72425 non-null  int64
 5   Postcode    72425 non-null  int64
 6   Manager     72425 non-null  int64
 7   Category    72425 non-null  int64
 8   Buyer       72425 non-null  int64
 9   inventory   72367 non-null  object
 10  Sales       72243 non-null  float64
 11  inventory   72366 non-null  float64
dtypes: float64(2), int64(8), object(2)
memory usage: 6.6+ MB

In [118]:
# Final_data.to_csv("final_New.csv")
# Final_data
df = pd.read_csv('fashion_New.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72425 entries, 0 to 72424
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  72425 non-null  int64
 1   Unnamed: 0    72425 non-null  int64
 2   Order date    72425 non-null  object
 3   Chain         72425 non-null  int64
 4   Suburb        72425 non-null  int64
 5   State         72425 non-null  int64
 6   Postcode      72425 non-null  int64
 7   Manager       72425 non-null  int64
 8   Category      72425 non-null  int64
 9   Buyer         72425 non-null  int64
 10  Sales         72243 non-null  float64
 11  inventory     72366 non-null  float64
dtypes: float64(2), int64(9), object(1)
memory usage: 6.6+ MB

In [120]:
from miceforest import ImputationKernel
mice_obj = ImputationKernel(
    data=df.drop(['Order date','Unnamed: 0.1','Unnamed: 0'],axis=1),
    random_state=12345
)
mice_obj.mice(5)
df=mice_obj.complete_data()

In [ ]:
df.info()